.activity {    
    width: 100%;
    height: 100%;
    position: relative;    
    border-radius: 20px;
}

.activity:nth-child(2) { background: var(--light-orange); }
.activity:nth-child(3) { background: var(--soft-blue); }
.activity:nth-child(4) { background: var(--light-red); }
.activity:nth-child(5) { background: var(--lime-green); }
.activity:nth-child(6) { background: var( --violet); }
.activity:nth-child(7) { background: var(--soft-orange); }

.activity__bg { position: relative; }
.activity__mask {
    position: absolute;
    right: 20px;
    top: -10px;
    clip-path: inset(10px 0);
}
.activity__mask img { width: 80px; }

.activity__data {
    width: 100%;
    height: 80%;
    padding: 40px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column nowrap;
    bottom: 0;
    color: #fff;
    border-radius: 20px;
    position: absolute;
    background: var(--dark-blue);
}

.activity__data div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activity__nav  {
    width: 80px;        
    padding: 5px;    
    position: relative;
}
.activity__nav span {
    width: 5px;
    height: 5px;
    position: absolute;
    right: 0;
    top: 0;
    background: #fff;
    border-radius: 50%;
    opacity: .6;
    transition: .1s;
}
.activity__nav span:nth-child(1) { 
    transform: translateY(50%);
} 
.activity__nav span:nth-child(2) { 
    right: 8px;
    transform: translateY(50%);
}
.activity__nav span:nth-child(3) { 
    right: 16px;
    transform: translateY(50%);
}
.activity__nav:hover span {
    opacity: .9;
    transform: translateY(0%);  
}

.activity__data h2 {
    width: 50%;    
    font-size: 1rem;
}

.activity__data p {
    font-size: 2.1rem;
    font-weight: 100;
}

.last__week {
    font-size: .9rem;
    opacity: .6;
}