.profile {
    background: var(--dark-blue);    
    border-radius: 20px;    
}

.profile__data {
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    border-radius: 20px;
}

.profile__image img {
    width: 80px;
    margin-right: 20px;
    border: solid 3px #fff;
    border-radius: 50%;
}

.profile__text { color: #fff; }
.profile__text p {
    font-size: 1rem; 
    color: #fff;
    opacity: .5; 
}
.profile__text h1 {
    font-size: 1.444rem;
    font-weight: 100;
}

.profile__nav { height: 35%; }
.profile__nav ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile__nav li a {
    margin: 0 20px;
    color: #fff;
    opacity: .5;
}
.profile__nav li a:hover { opacity: 1;}